//variables

$primary-cta-color: #62BACC;
$secondary-cta-color: #8B141D;
$primary-bg: #f7f7f7;
$card1: #165686;
$card2: #252525;
$card3: #8B141D;
$card4: #198151;
$paragraph: #262626;
$inactive-links: #999999;
$heading: #222222;
$white-dark: #eeeeee;
$primary-border: #ededed;
